.gameBoard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[3];
      grid-template-columns: repeat(3, 150px);
  -ms-grid-rows: (150px)[3];
      grid-template-rows: repeat(3, 150px);
}

.gameBoardTile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
